@import url(https://fonts.googleapis.com/css?family=Raleway);

body,
html,
div.board,
div#react-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #607d8b;
  min-width: 250px;
}

section {
  height: 100vh;
}

.board {
  background-color: #607d8b;
  width: 100%;
}

.note {
  height: 150px;
  width: 150px;
  background-color: #b0e5ff;
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
  z-index: 100;
}

.note:active {
  cursor: -webkit-grabbing;
}

.note p {
  font-size: 1.5em;
  padding: 5px;
  font-family: "Raleway", Arial;
}

.note:hover > span {
  opacity: 1;
}

.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.note button {
  margin: 2px;
}

.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
  position: fixed;
  top: 10px;
  right: 10px;
}

.btn-clear {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: darkgoldenrod;
  border-color: #darkgoldenrod;
  color: #fff;
  z-index: 1000;
  padding: 9px 18px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.btn-add {
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
  color: #fff;
  z-index: 1000;
  padding: 9px 18px;
  font-size: 1.2em;
}

.btn-add:hover,
.btn-add:focus, 
.btn-add:active,
.btn-clear:hover,
.btn-clear:focus, 
.btn-clear:active{
  background-color: #ffdbb0;
  border-color: #ffdbb0;
  color: #fff;
}

.btn-edit {
  background-color: #263238;
  border-color: #263238;
  color: #fff;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
}

.btn-delete {
  background-color: #b71c1c;
  border-color: #b71c1c;
  color: #fff;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-save {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-save:hover,
.btn-save:focus,
.btn-save:active {
  color: #fff;
  background-color: #81c784;
  border-color: #81c784;
}

.form-control {
  font-size: 1em;
}

/*media queries*/
@media screen and (max-width: 1024px) {
  .note > span {
    opacity: 1;
  }
  .btn-edit, 
  .btn-delete {
    background-color: transparent;
    border-color: transparent;
    color: #121212;
  }
  
  .glyphicon-plus, .btn-add {
    top: auto;
    bottom: 10px;
    left: 10px;
  }
}